# Name : Deepak
# Course : MCA
# Roll no: 2301560005

# Import dataset and store it in a variable called (df) and performing some operations

In [ ]:
import pandas as pd
df = pd.read_csv("Automobile_data.csv")
df.head(5)

In [ ]:
import pandas as pd
import numpy as np
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
df = pd.read_csv(url, sep = '\t')

In [ ]:
print(df.head(10))

In [ ]:
df.shape[0]
df.info()

In [ ]:
df = pd.read_csv("Automobile_data.csv", na_values={
'price':["?","n.a"],
'stroke':["?","n.a"],
'horsepower':["?","n.a"],
'peak-rpm':["?","n.a"],
'average-mileage':["?","n.a"]})
print (df)

df.to_csv("Automobile_data.csv")

In [ ]:
df.columns

In [ ]:
df.index

In [ ]:
car_Manufacturers = df.groupby('company')
toyotaDf = car_Manufacturers.get_group('toyota')
toyotaDf

In [ ]:
car_Manufacturer = df.groupby('company')
price = car_Manufacturer[['company','price']].max()
price

In [ ]:
car_Manuf = df.groupby('company')
mileageDf = car_Manuf[['company','average-mileage']].mean(numeric_only=True)
mileageDf

In [ ]:
df.company.dtype

In [ ]:
revenue = (df['index']* df['length']).sum()
print('Revenue was: $' + str(np.round(revenue,2)))

In [ ]:
orders = df.company.value_counts().count()
orders

# Filtering and sorting exercise

In [ ]:
# Step 2. Import the dataset from this address.

# Step 3. Assign it to a variable called game.

In [ ]:
game = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/02_Filtering_%26_Sorting/Euro12/Euro_2012_stats_TEAM.csv', sep=',')
game

In [ ]:
#Step 4 Select only the goal coloumn
game.Goals

In [ ]:
#Step 5. How many team participated in the Euro2012?
game.shape[0]

In [ ]:
#Step 6. What is the number of columns in the dataset?
game.info

In [ ]:
#Step 7. View only the columns Team, Yellow Cards and Red Cards and assign them to a dataframe called discipline
disc = game[['Team', 'Yellow Cards', 'Red Cards']]
disc

In [ ]:
#Step 8. Sort the teams by Red Cards, then to Yellow Cards
disc.sort_values(['Red Cards', 'Yellow Cards'], ascending = False)

In [ ]:
#Step 9. Calculate the mean Yellow Cards given per Team
round(disc['Yellow Cards'].mean())

In [ ]:
#Step 10. Filter teams that scored more than 6 goals
game[game.Goals > 6]

In [ ]:
#Step 11. Select the teams that start with G
game[game.Team.str.startswith('G')]

In [ ]:
#Step 12. Select the first 7 columns
game.iloc[: , 0:7]

In [ ]:
#Step 13. Select all columns except the last 3.
game.iloc[: , :-5]

In [ ]:
#Step 14. Present only the Shooting Accuracy from England, Italy and Russia
game.loc[game.Team.isin(['England', 'Italy', 'Russia']), ['Team','Shooting Accuracy']]

# Group by  excercise

In [ ]:
#step 1. Import the necessary libraries
#Step 2. Import the dataset.
#Step 3. Assign it to a variable called drnk.
drd = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv')
drd.head()

In [ ]:
#Step 4. Which continent drinks more beer on average?
drd.groupby('continent').beer_servings.mean()

In [ ]:
#Step 5. For each continent print the statistics for wine consumption.
drd.groupby('continent').wine_servings.describe()

In [ ]:
#Step 6. Print the mean alcohol consumption per continent for every column
drd.groupby('continent').spirit_servings.agg(['mean'])

In [ ]:
#Step 7. Print the median alcohol consumption per continent for every column
drd.groupby('continent').spirit_servings.agg(['median'])

In [ ]:
#Step 8. Print the mean, min,max and median values for spirit consumption.
#This time output a DataFrame
drd.groupby('continent').spirit_servings.agg(['mean', 'min', 'max','median'])

# Apply method

In [ ]:
#Step 1. Import the necessary libraries
#Step 2. Import the dataset from this address.
#Step 3. Assign it to a variable called df.
csv_url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv'
df = pd.read_csv(csv_url)
df.head()

In [ ]:
#Step 4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column
stud_al = df.loc[: , "school":"guardian"]
stud_al.head()

In [ ]:
#Step 5. Create a lambda function that will capitalize strings.
capitalizer = lambda x: x.capitalize()

In [ ]:
#Step 6. Capitalize both Mjob and Fjob
stud_al['Mjob'].apply(capitalizer)
stud_al['Fjob'].apply(capitalizer)

In [ ]:
#Step 7. Print the last elements of the data set.
stud_al.tail()

In [ ]:
#Step 8. Did you notice the original dataframe is still lowercase? Why is that? Fix it and capitalize Mjob and Fjob.
stud_al['Mjob'] = stud_al['Mjob'].apply(capitalizer)
stud_al['Fjob'] = stud_al['Fjob'].apply(capitalizer)
stud_al.tail()

In [ ]:
#Step 9. Create a function called majority that returns a boolean value to a new column called legal_drinker (Consider majority as older than 17 years old)
def majority(x):
    if x > 17:
        return True
    else:
        return False

In [ ]:
stud_al['legal_drinker'] = stud_al['age'].apply(majority)
stud_al.head()

In [ ]:
#Step 10. Multiply every number of the dataset by 10.
#I know this makes no sense, don't forget it is just an exercise
def times10(x):
    if type(x) is int:
        return 10 * x
    return x
stud_al.applymap(times10).head(10)

# Merge

In [ ]:
#Step 1. Import the necessary libraries
#Step 2. Import the first dataset car1 and car2.
#Step 3. Assign each to a to a variable called car1 and car2
car1 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv")
car2 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv")

print(car1.head())
print(car2.head())

In [ ]:
#Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1
car1 = car1.loc[:, "mpg":"car"]
print(type(car1))
car1.head()

In [ ]:
#Step 5. What is the number of observations in each dataset?
print(car1.shape)
print(car2.shape)

In [ ]:
#Step 6. Join car1 and car2 into a single DataFrame called cars
cars = pd.concat([car1,car2])
cars

In [ ]:
nr_ownr = np.random.randint(15000, high=73001, size=398, dtype='l')
nr_ownr

In [ ]:
cars['owners'] = nr_ownr
cars.tail()

# Data Vizualization

In [ ]:
# Step 1. Import the necessary libraries
import matplotlib.pyplot as plt
import seaborn as sns

# set the graphs to show in the jupyter notebook
%matplotlib inline

# set seaborn graphs to a better style
sns.set(style="ticks")

In [ ]:
#Step 2. Import the dataset from this address.
#Step 3. Assign it to a variable called online_rt
#Note: if you receive a utf-8 decode error, set encoding = 'latin1' in pd.read_csv().

path = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/07_Visualization/Online_Retail/Online_Retail.csv'

onl_rt = pd.read_csv(path, encoding = 'latin1')

onl_rt.head()

In [ ]:
#Step 4. Create a histogram with the 10 countries that have the most 'Quantity' ordered except UK
# group by the Country
countries = onl_rt.groupby('Country').sum()

# sort the value and get the first 10 after UK
countries = countries.sort_values(by = 'Quantity',ascending = False)[1:11]

# create the plot
countries['Quantity'].plot(kind='bar')

# Set the title and labels
plt.xlabel('Countries')
plt.ylabel('Quantity')
plt.title('10 Countries with most orders')

# show the plot
plt.show()

In [ ]:
onl_rt = onl_rt[onl_rt.Quantity > 0]
onl_rt.head()